
<link rel="stylesheet" href="css/attribute-point-buy.css" />

<nav-breadcrumb step="ATTRIBUTES"/>

<div class="container width-small">
    <div class="panel panel-default">
        <div class="panel-heading">Choose Attributes</div>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(attrType, attr) in attributes.attributeTypes">
                    <attribute-buy attribute="{{attrType}}" value="attributes" show-increase="true" show-decrease="true" dec="decAttribute" inc="incAttribute" >

                    </attribute-buy>
                </li>
            </ul>

            <h5>
                Remaining Points: {{attributes.remainingAttrPoints}}
            </h5>

            <div>
                <button class="btn btn-primary" ng-click='finalize()' ng-disabled="attributes.remainingAttrPoints > 0">Finish Attributes</button>
            </div>

        </div>
    </div>
</div>