
<nav-breadcrumb step="EDGES"/>

<div class="container width-large">
	<div class="row">
		<!-- already selected -->
		<div class="col-md-3">
			<!-- <div class="panel panel-default"> -->
				<!-- <div class="panel-heading">Edges etc...</div> -->
				<!-- <div class="panel-body"> -->
			<panel header="Edges">
					<!-- <div class="row"> -->
					chosen options
						<!-- <div class="col-md-6"> -->
							<!-- <div class="panel panel-default"> -->
								<!-- <div class="panel-heading">Chosen</div> -->
								<!-- <div class="panel-body"> -->
					<div ng-repeat="edgeSelection in sheet.chosenEdgeSelections"> {{edgeSelection.edge.edgeType.displayName}} </div>
					<div ng-repeat="attr in sheet.chosenAttributeRaises"> {{attr}} </div>
					<div ng-repeat="skill in sheet.chosenSkillRaises"> {{skill}} </div>
					<div ng-repeat="money in sheet.chosenMoneyRaises"> {{money}} </div>
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->
			</panel>
		</div>

		<!-- options -->
		<div class="col-md-9">
			
				<!-- selections to make -->
				<!-- <div class="col-md-6"> -->
					<!-- <div class="panel panel-default"> -->
						<!-- <div class="panel-heading">Selections</div> -->
						<!-- <div class="panel-body"> -->
					<panel header="Selection">
							<div ng-show="sheet.remainingHindrancePoints >= 2">
								<dl class="dl-horizontal">
									<dt style="width:120px;">For 2 points:</dt>
									<dd style="margin-left:140px;" class="text-left">
										<span><a class="btn btn-primary" ng-click="chooseEdge()">Gain an Edge</a></span>
										<span><a class="btn btn-primary" ng-click="chooseAttr()">Increase an Attribute</a></span>
									</dd>
								</dl>
							</div>
							
							<div ng-show="sheet.remainingHindrancePoints >= 1">
								<dl class="dl-horizontal">
									<dt style="width:120px;">For 1 point:</dt>
									<dd style="margin-left:140px;" class="text-left">
										<span><a class="btn btn-primary" ng-click="chooseSkill()">Increase a Skill</a></span>
										<span><a class="btn btn-primary" ng-click="chooseMoney()">Start with an extra {{sheet.framework.startingMoney}} Money</a></span>
									</dd>
								</dl>
							</div>
						<!-- </div> -->
					<!-- </div> -->
					</panel>
				<!-- </div> -->
				
			<!-- </div> -->
			
		</div>
	</div>
</div>