
<nav-breadcrumb step="EDGES"/>

<div class="container width-extra-large">
	<div class="row">
		<!-- already selected -->
		<div class="col-md-6">

			<panel header="Selected Bonuses">

				<!-- Edges -->
				<dl class="dl-horizontal" ng-show="sheet.chosenEdgeSelections.length > 0">
					<dt>Edges</dt>
					<dd class="text-left" ng-repeat="edgeSelection in sheet.chosenEdgeSelections">
						{{edgeSelection.edge.edgeType.displayName}}
						<a ng-click="removeEdge(edgeSelection)"><span class="glyphicon glyphicon-remove"></span></a>
					</dd>
				</dl>

				<!-- Attributes -->
				<dl class="dl-horizontal" ng-show="sheet.chosenAttributeRaises.length > 0">
					<dt>Attributes</dt>
					<dd class="text-left" ng-repeat="attr in sheet.chosenAttributeRaises">
						{{attr.attributeType.displayName}}
						<a ng-click="removeAttribute(attr)"><span class="glyphicon glyphicon-remove"></span></a>
					</dd>
				</dl>

				<!-- Skills -->
				<dl class="dl-horizontal" ng-show="sheet.chosenSkillRaises.length > 0">
					<dt>Skills</dt>
					<dd class="text-left" ng-repeat="skill in sheet.chosenSkillRaises">
						{{skill}}
					</dd>
				</dl>

				<!-- Money -->
				<dl class="dl-horizontal" ng-show="sheet.chosenMoneyRaises.length > 0">
					<dt>Money</dt>
					<dd class="text-left" ng-repeat="money in sheet.chosenMoneyRaises">
						{{sheet.framework}}
					</dd>
				</dl>


				<div ng-show="sheet.remainingHindrancePoints > 0">
					<strong>Remaining Points: {{sheet.remainingHindrancePoints}}</strong>
				</div>
				<div ng-show="sheet.remainingHindrancePoints == 0">
					<button class="btn btn-primary" ng-disabled="sheet.remainingHindrancePoints != 0" ng-click="finishPurchases()" >
						Finish
					</button>
				</div>

			</panel>
		</div>

		<!-- options -->
		<div class="col-md-6">
			
			<!-- selections to make -->
			<panel header="Choose">
				<div>
					<dl class="dl-horizontal">
						<dt style="width:120px;">For 2 points:</dt>
						<dd style="margin-left:140px;" class="text-left">
							<span><button class="btn btn-primary" ng-click="chooseEdge()" ng-disabled="sheet.remainingHindrancePoints < 2">Gain an Edge</button></span>
							<span><button class="btn btn-primary" ng-click="chooseAttr()" ng-disabled="sheet.remainingHindrancePoints < 2">Increase an Attribute</button></span>
						</dd>
					</dl>
				</div>

				<div>
					<dl class="dl-horizontal">
						<dt style="width:120px;">For 1 point:</dt>
						<dd style="margin-left:140px;" class="text-left">
							<span><a class="btn btn-primary" ng-click="chooseSkill()" ng-disabled="sheet.remainingHindrancePoints < 1">Increase a Skill</a></span>
							<span><a class="btn btn-primary" ng-click="chooseMoney()" ng-disabled="sheet.remainingHindrancePoints < 1">Start with an extra {{sheet.framework.startingMoney}} Money</a></span>
						</dd>
					</dl>
				</div>

			</panel>
		</div>
	</div>
</div>