
<nav-breadcrumb step="EDGES"/>

<link rel="stylesheet" href="css/skill-point-buy.css" />

<div class="container width-large">
	<panel header="Skills">

		<div ng-show="skills">

			<!-- skill is a SkillRollInfo object -->
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="(skillType, skillInfoArray) in skills.skillMap">
					<div ng-repeat="skillInfo in skillInfoArray">
						<skillbuy skill="skillType" value="skillInfo" show-increase="true" show-decrease="false" inc="incSkill" />
					</div>
				</li>
			</ul>
		 </div>

		<a class="btn btn-default" ng-click="back()" >Back</a>

	</panel>
</div>