
<nav-breadcrumb step="EDGES"/>

<link rel="stylesheet" href="css/attribute-point-buy.css" />

<div class="container width-large">
	<panel header="Attributes">

			<ul class="list-group">
                <li class="list-group-item" ng-repeat="(attrType, attr) in attrs.attributeTypes">
                    <attribute-buy attribute="{{attrType}}" value="attrs" show-increase="true" show-decrease="false" inc="purchase" />
                </li>
			</ul>
			
            <a class="btn btn-default" ng-click="back()" >Back</a>

	</panel>
</div>