

<div class="container width-large">
	<div class="panel panel-default">
		<div class="panel-heading">Edges etc...</div>
		<div class="panel-body">

			<div ng-show="edges">
                <div ng-repeat="edge in edges">
                    {{edge}}
                </div>
			</div>

            <div ng-show="attrs">
                <div ng-repeat="attr in attrs">
                    {{attr}}
                </div>
            </div>

            <div ng-show="skills">
                <div ng-repeat="skill in skills">
                    {{skill}}
                </div>
            </div>


            <a class="btn btn-default" ng-click="back()" >Back</a>

		</div>
	</div>
</div>