<link rel="stylesheet" href="css/character-sheet.css" />

<p>{{ message }}</p>

<div class="container">

    <!-- experimental tabs -->
    <!--<div>-->
        <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
        <!--<ul class="nav nav-tabs nav-justified">-->
            <!--<li class="active"> <a href="" class="">Home</a> </li>-->
            <!--<li> <a href="">Profile</a> </li>-->
            <!--<li> <a href="">Messages</a> </li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<nav-breadcrumb/>-->

    <!-- basic info -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div class="field-wrapper name-wrapper">
                        <label>Name</label>
                        <input type="text" class="" ng-model="sheet.name">
                    </div>

                    <div class="field-wrapper race-wrapper">
                        <label>Race</label>
                        <span class="level-display">{{sheet.race.displayName}}</span>
                    </div>

                    <div class="field-wrapper curr-rank-wrapper">
                        <label>Rank</label>
                        <span class="rank-display">{{sheet.rank}}</span>
                    </div>

                    <div class="field-wrapper curr-xp-wrapper">
                        <label>XP</label>
                        <!--<input type="text" class="curr-xp-field" ng-model="sheet.currXP">-->
                    </div>

                    <div class="field-wrapper curr-framework-wrapper">
                        <label>Framework</label>
                        <span class="framework-display">{{sheet.framework.displayName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- attributes -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div class="field-wrapper">
                        <label>Agility</label>
                        <span class="attribute-display">{{sheet.agility.displayName}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Smarts</label>
                        <span class="attribute-display">{{sheet.smarts.displayName}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Spirit</label>
                        <span class="attribute-display">{{sheet.spirit.displayName}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Strength</label>
                        <span class="attribute-display">{{sheet.strength.displayName}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Vigor</label>
                        <span class="attribute-display">{{sheet.vigor.displayName}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <!-- derived attributes -->
                    <div class="field-wrapper">
                        <label>Strain</label>
                        <span class="attribute-display">{{sheet.strain}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Toughness</label>
                        <span class="attribute-display">{{sheet.toughness}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Charisma</label>
                        <span class="attribute-display">{{sheet.charisma}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Pace</label>
                        <span class="attribute-display">{{sheet.pace}}</span>
                    </div>

                    <div class="field-wrapper">
                        <label>Parry</label>
                        <span class="attribute-display">{{sheet.parry}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- skills, framework features, hindrances/edges -->
    <div class="row">
        <!-- skills -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="skills-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Skills</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>
                        <div ng-repeat="skillRoll in sheet.skills">
                            <div class="skill-name">
                                {{skillRoll.displayName}}
                            </div>

                            <div class="skill-ranks">
                                {{skillRoll.roll.displayName}}
                            </div>

                            <div class="skill-attr">
                                ({{skillRoll.linkedAttributeDisplayName}})
                            </div>
                            <!--<div class="skill-ranks-button">-->
                            <!--<button class="glyphicon glyphicon-chevron-down" ng-click="decreaseSkillRank(skillRank)" ng-disabled="skillRank.rank == 0"></button>-->
                            <!--<button class="glyphicon glyphicon-chevron-up" ng-click="increaseSkillRank(skillRank)" ng-disabled="sheet.skillPoints == 0"></button>-->
                            <!--</div>-->
                        </div>
                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- framework features -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="framework-features-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Framework Features</span>
                    </pf-collapse-section-header>
                    <pf-collapse-section-body>

                        <!--<span id="expand-all-features">Expand</span>-->

                        <!-- feature bonuses -->
                        <strong>Bonuses</strong>
                        <div class="panel-group" id="feature-bonus-accordion" role="tablist" aria-multiselectable="true">
                            <div ng-repeat="feature in sheet.framework.frameworkFeatures | filter: {frameworkAbilityType: 'BONUS'}">

                                <div class="panel panel-default">
                                    <!-- header of the feature -->
                                    <div class="panel-heading" role="tab" id="bonus-heading-{{$index}}">
                                        <h5 class="panel-title ">
                                            <span role="button" data-toggle="collapse" data-parent="#feature-bonus-accordion" href="#bonus-collapse-{{$index}}" aria-expanded="true" aria-controls="bonus-collapse-{{$index}}">
                                                {{feature.displayName}}
                                            </span>
                                        </h5>
                                    </div>
                                    <!-- description of the feature -->
                                    <div id="bonus-collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bonus-heading-{{$index}}">
                                        <div class="panel-body text-left">
                                            {{feature.description}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- feature complications -->
                        <strong>Complications</strong>
                        <div class="panel-group" id="feature-complication-accordion" role="tablist" aria-multiselectable="true">
                            <div ng-repeat="feature in sheet.framework.frameworkFeatures | filter: {frameworkAbilityType: 'COMPLICATION'}">

                                <div class="panel panel-default">
                                    <!-- header of the feature -->
                                    <div class="panel-heading" role="tab" id="complication-heading-{{$index}}">
                                        <h5 class="panel-title ">
                                            <span role="button" data-toggle="collapse" data-parent="#feature-complication-accordion" href="#complication-collapse-{{$index}}" aria-expanded="true" aria-controls="complication-collapse-{{$index}}">
                                                {{feature.displayName}}
                                            </span>
                                        </h5>
                                    </div>
                                    <!-- description of the feature -->
                                    <div id="complication-collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="complication-heading-{{$index}}">
                                        <div class="panel-body text-left">
                                            {{feature.description}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- hindrances + edges -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="hindrances-edges-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Hindrances/Edges</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>
                        <strong>Hindrances</strong>

                        <div ng-repeat="chosenHindrance in sheet.chosenHindrances">
                            {{chosenHindrance.hindrance.displayName}}
                            {{chosenHindrance.severityType}}
                            {{chosenHindrance.hindrance.description}}
                        </div>

                        <strong>Edges</strong>

                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

    </div>

    <!-- gear, weapons, armor -->
    <div class="row">
        <!-- gear -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="gear-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Gear</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>

                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- weapons -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="weapons-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Weapons</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>

                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- armor -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="armor-section" initial-collapsed="true">
                    <pf-collapse-section-header>
                        <span class="field-header">Armor</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>

                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>
    </div>

    <!-- powers -->
    <div class="row">
        <!-- points -->
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <dl class="dl-horizontal">
                        <dt>ISP</dt>
                        <dd>{{sheet.isp}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>PPE</dt>
                        <dd>{{sheet.ppe}}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- powers -->
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <!-- power list here -->
                    Powers
                </div>
            </div>
        </div>
    </div>

    <!-- cybernetics -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" >
                    Cybernetics
                </div>
            </div>
        </div>
    </div>

    <!-- heroic path -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" >
                    Heroic Path
                </div>
            </div>
        </div>
    </div>

</div>

<!--<script>-->
    <!--$('#expand-all-features').click(function() {-->
        <!--console.log('clocked the thing');-->
        <!--$('#feature-bonus-accordion .collapse').collapse('show');-->
    <!--});-->
<!--</script>-->