<link rel="stylesheet" href="css/character-sheet.css" />

<p>{{ message }}</p>

<div class="container">

    <!-- experimental tabs -->
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-pills">
            <li class="active"><a href="">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Messages</a></li>
        </ul>
    </div>


    <!-- basic info -->
    <div class="row">
        <div class="field-wrapper name-wrapper">
            <label>Name</label>
            <input type="text" class="" ng-model="sheet.name">
        </div>

        <div class="field-wrapper race-wrapper">
            <label>Race</label>
            <span class="level-display">{{sheet.race.displayName}}</span>
        </div>

        <div class="field-wrapper curr-rank-wrapper">
            <label>Rank</label>
            <span class="rank-display">{{sheet.rank}}</span>
        </div>

        <div class="field-wrapper curr-xp-wrapper">
            <label>XP</label>
            <!--<input type="text" class="curr-xp-field" ng-model="sheet.currXP">-->
        </div>

        <div class="field-wrapper curr-framework-wrapper">
            <label>Framework</label>
            <span class="framework-display">{{sheet.framework.displayName}}</span>
        </div>
    </div>

    <!-- attributes -->
    <div class="row">
        <div class="field-wrapper">
            <label>Agility</label>
            <span class="attribute-display">{{sheet.agility.displayName}}</span>
        </div>

        <div class="field-wrapper">
            <label>Smarts</label>
            <span class="attribute-display">{{sheet.smarts.displayName}}</span>
        </div>

        <div class="field-wrapper">
            <label>Spirit</label>
            <span class="attribute-display">{{sheet.spirit.displayName}}</span>
        </div>

        <div class="field-wrapper">
            <label>Strength</label>
            <span class="attribute-display">{{sheet.strength.displayName}}</span>
        </div>

        <div class="field-wrapper">
            <label>Vigor</label>
            <span class="attribute-display">{{sheet.vigor.displayName}}</span>
        </div>

        <!-- derived attributes -->
        <div class="field-wrapper">
            <label>Strain</label>
            <span class="attribute-display">{{sheet.strain}}</span>
        </div>

        <div class="field-wrapper">
            <label>Toughness</label>
            <span class="attribute-display">{{sheet.toughness}}</span>
        </div>

        <div class="field-wrapper">
            <label>Charisma</label>
            <span class="attribute-display">{{sheet.charisma}}</span>
        </div>

        <div class="field-wrapper">
            <label>Pace</label>
            <span class="attribute-display">{{sheet.pace}}</span>
        </div>

        <div class="field-wrapper">
            <label>Parry</label>
            <span class="attribute-display">{{sheet.parry}}</span>
        </div>
    </div>

    <!-- skills, framework features, hindrances/edges -->
    <div class="row">
        <!-- skills -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="skills-section">
                    <pf-collapse-section-header>
                        <span class="field-header">Skills</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>
                        <div ng-repeat="skillRoll in sheet.skills">
                            <div class="skill-name">
                                {{skillRoll.displayName}}
                            </div>

                            <div class="skill-ranks">
                                {{skillRoll.roll.displayName}}
                            </div>

                            <div class="skill-attr">
                                ({{skillRoll.linkedAttributeDisplayName}})
                            </div>
                            <!--<div class="skill-ranks-button">-->
                            <!--<button class="glyphicon glyphicon-chevron-down" ng-click="decreaseSkillRank(skillRank)" ng-disabled="skillRank.rank == 0"></button>-->
                            <!--<button class="glyphicon glyphicon-chevron-up" ng-click="increaseSkillRank(skillRank)" ng-disabled="sheet.skillPoints == 0"></button>-->
                            <!--</div>-->
                        </div>
                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- framework features -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="framework-features-section">
                    <pf-collapse-section-header>
                        <span class="field-header">Framework Features</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div ng-repeat="feature in sheet.framework.frameworkFeatures | filter: {frameworkAbilityType: 'BONUS'}">

                                <div class="panel panel-default">
                                    <!-- header of the feature -->
                                    <div class="panel-heading" role="tab" id="heading{{$index}}">
                                        <h4 class="panel-title">
                                            <span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                                                {{feature.displayName}}
                                            </span>
                                        </h4>
                                    </div>
                                    <!-- description of the feature -->
                                    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
                                        <div class="panel-body">
                                            {{feature.description}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--<div ng-repeat="feature in sheet.framework.frameworkFeatures | filter: {frameworkAbilityType: 'BONUS'}">-->
                            <!--<div>{{feature.displayName}}</div>-->
                            <!--<div>{{feature.description}}</div>-->
                        <!--</div>-->

                        <div ng-repeat="feature in sheet.framework.frameworkFeatures | filter: {frameworkAbilityType: 'COMPLICATION'}">
                            <div>{{feature.displayName}}</div>
                            <div>{{feature.description}}</div>
                        </div>


                        <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->
                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading" role="tab" id="headingOne">-->
                                    <!--<h3 class="panel-title">-->
                                        <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                                            <!--Collapsible Group Item #1-->
                                        <!--</a>-->
                                    <!--</h3>-->
                                <!--</div>-->
                                <!--<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                                    <!--<div class="panel-body">-->
                                        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->



                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

        <!-- hindrances + edges -->
        <div class="col-md-4">
            <div class="column-wrapper panel-group">
                <pf-collapse-section identifier="hindrances-edges-section">
                    <pf-collapse-section-header>
                        <span class="field-header">Hindrances/Edges</span>
                    </pf-collapse-section-header>

                    <pf-collapse-section-body>
                        Hindrances + Edges
                    </pf-collapse-section-body>
                </pf-collapse-section>
            </div>
        </div>

    </div>

    <!-- gear, weapons, armor -->
    <div class="row">
        <!-- gear -->
        <div class="col-md-4">
            Gear
        </div>

        <!-- weapons -->
        <div class="col-md-4">
            Weapons
        </div>

        <!-- armor -->
        <div class="col-md-4">
            Armor
        </div>
    </div>

    <!-- powers -->
    <div class="row">
        <!-- points -->
        <div class="col-md-2">
            <div class="attribute-wrapper field-wrapper panel-group" >
                <span>ISP: {{sheet.isp}}</span>
                <span>PPE: {{sheet.ppe}}</span>
            </div>
        </div>

        <!-- powers -->
        <div class="col-md-10">
            <div class=" field-wrapper panel-group" >
                <!-- power list here -->
                powers
            </div>
        </div>
    </div>

    <!-- cybernetics -->
    <div class="row">
        <div class="col-md-12">
            Cybernetics
        </div>
    </div>

    <!-- heroic path -->
    <div class="row">
        <div class="col-md-12">
            Heroic Path
        </div>
    </div>

</div>
