
<link rel="stylesheet" href="css/hindrance-buy.css" />

<div class="container point-buy-wrapper">
	<div class="row">
		<!-- already selected -->
		<div class="col-md-3">

			<div class="panel panel-default">
				<div class="panel-heading">Major Hindrance</div>
				<div class="panel-body">
					<div ng-show="sheetHindranceSelections.numMajorsChosen == 1">
						<strong>{{sheetHindranceSelections.major.displayName}}</strong>
						<a ng-click="removeHindrance(sheetHindranceSelections.major)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<div ng-show="sheetHindranceSelections.numMajorSelections > 0">
						You may choose {{sheetHindranceSelections.numMajorSelections}} Major hindrance
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Minor Hindrances</div>
				<div class="panel-body">
					<div ng-show="sheetHindranceSelections.minor1">
						<strong>{{sheetHindranceSelections.minor1.displayName}}</strong>
						<a ng-click="removeHindrance(sheetHindranceSelections.minor1)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<div ng-show="sheetHindranceSelections.minor2">
						<strong>{{sheetHindranceSelections.minor2.displayName}}</strong>
						<a ng-click="removeHindrance(sheetHindranceSelections.minor2)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<div ng-show="sheetHindranceSelections.numMinorSelections > 0">
						You may choose {{sheetHindranceSelections.numMinorSelections}} Minor hindrances
					</div>
				</div>
			</div>

			<h5>
				You currently have {{sheetHindranceSelections.numRemainingHindrancePoints}} points from Hindrances
			</h5>

			<div class="row text-left">
				<p>You can take one Major Hindrance and two Minor
				Hindrances. A Major Hindrance is worth 2 points, and a Minor
				Hindrance is worth 1 point.</p>
				<p>For 2 points you can:</p>
				<ul>
					<li>Raise an attribute one die type, or</li>
					<li>Choose an Edge</li>
				</ul>
				<p>For 1 point you can:</p>
				<ul>
					<li>Gain another skill point, or</li>
					<li>Gain additional money equal to your starting funds (if you start with $500, you gain an additional $500)</li>
				</ul>
			</div>
			
			<div class="row">
				<button class="btn btn-primary" ng-click="finishHindrances()">I'm done!</button>
			</div>
		</div>
	
		<!-- options -->
		<div class="col-md-9">
			<div class="row" ng-repeat="hindrance in hindrances | filter: chosenTypeFilterFunc">
				<dl class="dl-horizontal">
					<dt>
						<div>{{hindrance.displayName}}</div>
						<h5>
							<button class="btn btn-default" ng-show="canSelectMinor(hindrance)" ng-click="addHindrance(hindrance, 'MINOR')">Minor</button>
							<button class="btn btn-default" ng-show="canSelectMajor(hindrance)" ng-click="addHindrance(hindrance, 'MAJOR')">Major</button>
						</h5>
					</dt>
					<dd class="text-left">{{hindrance.description}}</dd>
				</dl>
			</div>
		</div>
	</div>

</div>
