
<div class="container width-medium">
	<div class="panel panel-default">
		<div class="panel-heading">Choose Race</div>
		<div class="panel-body">

			<select ng-options="race as race.displayName for race in races track by race.id"
					ng-model="selectedRace"
					class="form-control margin-bottom-small width-extra-small center"
					name="repeatSelect"
					id="repeatSelect">
			</select>

			<div class="text-left">
				{{selectedRace.description}}
			</div>

			<button class="btn btn-primary" ng-click="selectRace()">Select Race</button>

		</div>
	</div>
</div>
