
<link rel="stylesheet" href="css/skill-point-buy.css" />

<nav-breadcrumb step="SKILLS"/>

<div class="container width-small">
    <div class="panel panel-default">
        <div class="panel-heading">Choose Skills</div>
        <div class="panel-body">

            <ul class="list-group">
                <!-- skill is a SkillRollInfo object -->
                <li class="list-group-item" ng-repeat="skillRollInfo in skillResponse.skillRollInfos">
                    <skillbuy skill="{{skillRollInfo.skillRoll.skillType}}" value="skillRollInfo.skillRoll" canincrease="skillRollInfo.canIncrease" candecrease="skillRollInfo.canDecrease" dec="decSkill" inc="incSkill" >
                        {{skillRollInfo.skillRoll.displayName}}
                    </skillbuy>
                </li>
            </ul>

            <h5>
                Remaining Points: {{skillResponse.remainingSkillPoints}}
            </h5>

            <div>
                <button class="btn btn-primary" ng-click='finalize()' ng-disabled="skillResponse.remainingSkillPoints > 0">Finish Skills</button>
            </div>

        </div>
    </div>
</div>
