
<nav-breadcrumb step="SKILLS"/>

<div class="container ">
    <div class="panel panel-default">
        <div class="panel-heading">Choose Skills</div>
        <div class="panel-body">

            <h5>
                Remaining Points: {{skillResponse.remainingSkillPoints}}
            </h5>

            <div class="row">
                <div class="col-md-6">
                    <!-- first half of the list -->
                    <ul class="list-group">
                        <!-- skill is a SkillRollInfo object -->
                        <li class="list-group-item" ng-repeat="skillRollInfo in skillResponse.skillRollInfos | startFrom:0 | limitTo:skillResponse.skillRollInfos.length/2">
                            <skillbuy value="skillRollInfo.skillRoll" allow-inc-dec="true" canincrease="skillRollInfo.canIncrease" candecrease="skillRollInfo.canDecrease" dec="decSkill" inc="incSkill" ></skillbuy>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <!-- second half of the list -->
                    <ul class="list-group">
                        <!-- skill is a SkillRollInfo object -->
                        <li class="list-group-item" ng-repeat="skillRollInfo in skillResponse.skillRollInfos | startFrom:skillResponse.skillRollInfos.length/2 | limitTo:skillResponse.skillRollInfos.length">
                            <skillbuy value="skillRollInfo.skillRoll" allow-inc-dec="true" canincrease="skillRollInfo.canIncrease" candecrease="skillRollInfo.canDecrease" dec="decSkill" inc="incSkill" ></skillbuy>
                        </li>
                    </ul>
                </div>
            </div>

            <knowledge-skill-add refresh="reloadSkills()" />

            <div>
                <button class="btn btn-primary" ng-click='finalize()' ng-disabled="skillResponse.remainingSkillPoints > 0">Finish Skills</button>
            </div>

        </div>
    </div>
</div>
