
<link rel="stylesheet" href="css/skill-point-buy.css" />

<nav-breadcrumb step="SKILLS"/>

<div class="container width-small">
    <div class="panel panel-default">
        <div class="panel-heading">Choose Skills</div>
        <li class="panel-body">

            <ul class="list-group">
                <!-- skill is a SkillRollInfo object -->
                <li class="list-group-item" ng-repeat="(skillType, skillInfoArray) in skillResponse.skillMap">
                    <div ng-repeat="skillInfo in skillInfoArray">
                        <skillbuy skill="{{skillType}}" value="skillInfo" show-increase="true" show-decrease="true" inc="incSkill" dec="decSkill"/>
                    </div>
                </li>
            </ul>

            <h5>
                Remaining Points: {{skillResponse.remainingSkillPoints}}
            </h5>

            <div>
                <button class="btn btn-primary" ng-click='finalize()' ng-disabled="skillResponse.remainingSkillPoints > 0">Finish Skills</button>
            </div>

        </div>
    </div>
</div>
