
<link rel="stylesheet" href="css/table-rolls.css" />

<nav-breadcrumb step="TABLE_ROLLS"/>

<!-- Table options -->
<div class="container width-medium" ng-hide="selectedPerk">
	<div class="panel panel-default">
		<div class="panel-heading">Table Rolls</div>
		<div class="panel-body">

			<dl class="dl-horizontal" ng-repeat="perkRange in benefitTable.perkRanges" ng-class="(perkRange.perkHasBeenChosen) ? 'selected' : ''">
				<dt>{{perkRange.min}}
					<span ng-hide="perkRange.min == perkRange.max">
						- {{perkRange.max}}
					</span></dt>
				<dd class="text-left">{{perkRange.perk.description}}</dd>
			</dl>

			<button class="btn btn-primary" ng-click="roll()">Roll</button>
			<button class="btn btn-default" ng-click="goBack()">Back</button>

		</div>
	</div>
</div>

<!-- chosen perk -->
<div class="container width-medium" ng-hide="!selectedPerk">
	<div class="panel panel-default">
		<div class="panel-heading">Table Rolls</div>
		<div class="panel-body">

			<div>
				{{selectedPerk.perk.description}}
			</div>
			<button class="btn btn-primary" ng-click="goBack()">Back</button>

		</div>
	</div>
</div>
