
<link rel="stylesheet" href="css/table-rolls.css" />

<nav-breadcrumb step="TABLE_ROLLS"/>

<!-- Table rolls -->
<div class="container width-extra-large">
    <div class="panel panel-default">
        <div class="panel-heading">Table Rolls</div>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="roll in choosableTables">
                    <div class="table-wrapper" ng-repeat="table in roll.allowedTables">
                        <a class="btn btn-link" ng-click="goToTable(roll.rollNumber, table.id)" >{{table.displayName}}</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<br/>

<!-- Chosen perks -->
<div class="container width-extra-large">
    <div class="panel panel-default">
        <div class="panel-heading">Chosen Perks</div>
        <div class="panel-body">

            <div class="" ng-hide="sheet.chosenPerks.length == 0">
                <dl class="dl-horizontal" ng-repeat="chosenPerk in sheet.chosenPerks">
                    <dt>{{chosenPerk.perk.type.tableType.displayName}}</dt>
                    <dd class="text-left">{{chosenPerk.perk.description}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>