
<div class="container well well-sm">
    <div class="row" ng-repeat="roll in choosableTables" >
        <!--Table Roll #{{roll.rollNumber}}:-->
        <div class="col-md-2" ng-repeat="table in roll.allowedTables">
            <a ng-click="goToTable(roll.rollNumber, table.id)" >{{table.displayName}}</a>
        </div>
    </div>
</div>

<div class="container well well-sm" ng-hide="sheet.chosenPerks.length == 0">
    <div class="row" ng-repeat="chosenPerk in sheet.chosenPerks" >
        <div class="col-md-2">
            {{chosenPerk.perk.benefitTableDisplayName}} :
        </div>
        <div class="col-md-10 text-left">
            {{chosenPerk.perk.description}}
        </div>
    </div>
</div>