
<!--roll swapping!-->

<!--loop through all the perks the player has, let them select 2-->

<!--display all the tables, let the user select onemptied-->

<!--click go button, go to /tablerollswap/:charId/:tableId/:perkNumber1/:perkNumber2-->

<!--choose new perk there, post, go back to editchar-->

<style>
    .perk-checkbox {width:100px;}
    .perk-name {width:100px;}
    .perk-description {width:100px;}

</style>


<div class="container well well-sm" ng-hide="swapTable" >
    Choose two perks to swap for another perk
    <div class="row" ng-repeat="chosenPerk in sheet.chosenPerks" >
        <div class="col-md-1">
            <!--<md-checkbox ng-checked="perkExists(chosenPerk)" ng-click="perkToggle(chosenPerk)"> </md-checkbox>-->
            <input type="checkbox" checklist-model="perkItems" checklist-value="chosenPerk">
        </div>

        <div class="col-md-2">
            {{chosenPerk.perk.benefitTableDisplayName}} :
        </div>
        <div class="col-md-9 text-left">
            {{chosenPerk.perk.description}}
        </div>
    </div>

    Choose the table to select the new perk from


    <div class="row" ng-repeat="table in benefitTables" >
        <div class="col-md-5"> </div>
        <div class="col-md-1 text-right">
            <input type="radio" name="tableSelection" ng-model="$parent.selectedTable" ng-value="table">
        </div>
        <div class="col-md-2 text-left">
            {{table.displayName}}
        </div>
        <div class="col-md-4"> </div>
    </div>

    <button ng-click="swap()">Swap</button>

</div>

<div class="container well well-sm" ng-show="swapTable" >

    <div class="row" ng-class="(perkRange.perkHasBeenChosen) ? 'selected' : ''" ng-repeat="perkRange in swapTable.perkRanges">
        <div class="col-md-1">
            <input type="radio" name="newPerkSelection" ng-model="$parent.newPerkSelection" ng-value="perkRange" ng-disabled="perkRange.perkHasBeenChosen" >
        </div>
        <div class="col-md-11 text-left">
            {{perkRange.perk.description}}
        </div>
    </div>

    <button ng-click="back()">Back</button>
    <button ng-click="confirmSwap()">Swap</button>
</div>

<button ng-click="finishSwapping()">Finished Swapping</button>
