


<div class="container" ng-hide="selectedPerk" >

	<div class="row" ng-class="(perkRange.perkHasBeenChosen) ? 'selected' : ''" ng-repeat="perkRange in benefitTable.perkRanges">
		<div class="col-md-1">
			{{perkRange.min}}
			<span ng-hide="perkRange.min == perkRange.max">
				- {{perkRange.max}}
			</span>
		</div>
		<div class="col-md-11">
			{{perkRange.perk.description}}
		</div>
	</div>

	<button ng-click="roll()">Roll</button>
	<button ng-click="goBack()">Back</button>
</div>

<div ng-hide="!selectedPerk" >
	<div>
		{{selectedPerk.perk}}
	</div>
	<button ng-click="goBack()">Back</button>
</div>
