
<link rel="stylesheet" href="css/table-rolls.css" />

<nav-breadcrumb step="TABLE_ROLL_SWAP"/>

<div class="container" ng-hide="swapTable">
    <div class="panel panel-default">
        <div class="panel-heading">Swap Table Rolls</div>
        <div class="panel-body">

            <h4>Choose two perks to swap for another perk, or skip to keep selected perks. You may make {{remainingSwaps}} more swaps.</h4>

            <!-- perks to choose for swapping -->
            <dl class="dl-horizontal" ng-repeat="chosenPerk in sheet.chosenPerks | filter: {wasSwappedFor: false}">
                <dt>
                    <input type="checkbox" checklist-model="perkItems" checklist-value="chosenPerk" ng-disabled="isCheckBoxDisabled(chosenPerk)">
                    {{chosenPerk.perk.benefitTableDisplayName}}
                </dt>
                <dd class="text-left">
                    {{chosenPerk.perk.description}}
                </dd>
            </dl>

            <hr>

            <!-- already swapped perks -->
            <dl class="dl-horizontal" ng-repeat="chosenPerk in sheet.chosenPerks | filter: {wasSwappedFor: true}">
                <dt>
                    {{chosenPerk.perk.benefitTableDisplayName}}
                </dt>
                <dd class="text-left">
                    {{chosenPerk.perk.description}}
                </dd>
            </dl>

            <hr>

            <h4>Choose the table to select the new perk from</h4>

            <form class="form-inline">
                <div class="form-group">
                    <select name="table-selection" class="form-control width-extra-small" id="table-selection" ng-model="selectedTableId">
                        <option ng-repeat="table in benefitTables" value="{{table.id}}">{{table.displayName}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary " ng-click="swap()" ng-disabled="!canSwap()">Swap</button>
            </form>

            <hr>

            <h4>Or continue with these rolls</h4>

            <button class="btn btn-primary" ng-click="finishSwapping()">Skip Perk Swapping</button>

        </div>
    </div>
</div>


<div class="container" ng-show="swapTable">
    <div class="panel panel-default">
        <div class="panel-heading">Swap Table Rolls</div>
        <div class="panel-body">

            <dl class="dl-horizontal" ng-class="(perkRange.perkHasBeenChosen) ? 'selected' : ''" ng-repeat="perkRange in swapTable.perkRanges">
                <dt>
                    <input type="radio" name="newPerkSelection" ng-model="$parent.newPerkSelection" ng-value="perkRange.perk" ng-disabled="perkRange.perkHasBeenChosen" >
                </dt>
                <dd class="text-left">
                    {{perkRange.perk.description}}
                </dd>
            </dl>

            <button class="btn btn-primary" ng-click="confirmSwap()">Swap</button>
            <button class="btn btn-default" ng-click="back()">Back</button>

        </div>
    </div>
</div>



