/** Point buy screen */
.point-buy-wrapper div {
    //display:inline-block;
}
.point-buy-wrapper {
    //width: 320px;
}
.point-buy-button-col {
    display:inline-block;
    width: 60px;
    text-align: left;
}
.point-buy-attribute-col {
    display:inline-block;
    width: 100px;
    text-align: left;
}
.point-buy-value-col {
    display:inline-block;
    width: 50px;
    text-align: left;
}
.point-buy-attr-col {
    display:inline-block;
    width: 75px;
    text-align: left;
}
.point-buy-mod-col {
    display:inline-block;
    width: 35px;
    text-align: left;
}
.point-buy-dec-col {
    text-align: right;
    padding-right: 5px;
}
.point-buy-inc-col {
    text-align: left;
}