
/** hides angular templates until they have finished rendering. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/** Container sizes */
/*@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}*/
/*.container-small, .container-large {
    max-width: 100%;
}*/

.width-large {
    width: 900px;
}
.width-medium {
    width: 700px;
}
.width-small {
    width: 500px;
}
.width-extra-small {
    width: 275px;
}

.column-left {
    text-align:left;
}
.column-right {
    text-align:right;
}
[class*='col-'] {
    padding:5px;
}

div#main {
    background-color: white;
}

.panel, .panel-group {
    margin-bottom: 0px !important;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

/*.panel-title {
    font-size: 12px;
}
.panel-heading {
    padding: 5px;
}
.panel-body {
    padding: 5px;
}*/

/*.form-control-label {
    text-align: right;
    padding-top: 12px;
}*/

.dl-horizontal dt {
    text-overflow: inherit;
    white-space: inherit;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 8px;
}

.inline-block {
    display: inline-block;
}

/** Nav breadcrumbs */
.nav > li:not(.active) > a:hover,
.nav > li:not(.active) > a:focus {
    background-color: transparent !important;
    border-color: white white #ddd !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
    cursor: default;
}
.nav > li > a {
    color: #555 !important;
}
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active {
    background-color: #eee;
}
.nav-breadcrumb-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}
.nav-pills > li:not(.nav-divider) {
    border: 1px solid #eee;
    border-radius: 4px;
}
.nav .nav-divider {
    background-color: transparent !important;
}