<div class="point-buy-button-col point-buy-dec-col">
    <button class="btn btn-default text-small" ng-click='dec()(attribute)' ng-disabled="!canDecrease()" ng-show="showDecrease"> <span class="glyphicon glyphicon-minus"/> </button>
</div>

<div class="point-buy-attribute-col">
    <span>{{value.attributeTypes[attribute].displayName}}</span>
</div>
<div class="point-buy-value-col">
    {{value.attributes[attribute].displayName}}
</div>

<div class="point-buy-button-col point-buy-inc-col">
    <button class="btn btn-default text-small" ng-click='inc()(attribute)' ng-disabled="!canIncrease()" ng-show="showIncrease"> <span class="glyphicon glyphicon-plus"/>  </button>
</div>