<div class="point-buy-button-col point-buy-dec-col">
    <button class="btn btn-default text-small" ng-click='dec()(attribute)' ng-disabled="!candecrease"> <span class="glyphicon glyphicon-minus"/> </button>
</div>

<div class="point-buy-attribute-col">
    <span ng-transclude></span>
</div>
<div class="point-buy-value-col">
    <die-roll roll="value"></die-roll>
    <!--{{value.displayName}}-->
</div>

<div class="point-buy-button-col point-buy-inc-col">
    <button class="btn btn-default text-small" ng-click='inc()(attribute)' ng-disabled="!canincrease"> <span class="glyphicon glyphicon-plus"/>  </button>
</div>