<div class="container" >

    <div class="row" >
        <span><img ng-src="/img/resources/{{material.icon}}.png" /></span>
        <span>{{material.name}}</span>
        <span>({{material.id}})</span>
        <span>
            <button ng-click="deleteMat(material.id)" >Delete</button>
        </span>
        <span>
            <button ng-click="editMat(material)" >Edit</button>
        </span>
    </div>

    <div class="row" ng-repeat="eff in material.effectList">
        <span>{{eff.effectType}}</span>
        <span>{{eff.value}}</span>
        <span>{{eff.slot}}</span>
        <span>({{eff.id}})</span>
        <span>
            <!--<button ng-click="deleteEffect(material.id, eff.id)" >Delete eff</button>-->
        </span>
    </div>
    <!--<div class="row">-->
        <!--&lt;!&ndash;<button ng-click="addEffect(material.id)">Add Effect</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<effectadd mat="material"></effectadd>&ndash;&gt;-->

        <!--<button ng-click="showEffectForm()" ng-show="!showForm">add new</button>-->
        <!--<div ng-show="showForm" class="form-content">-->
            <!--<form ng-submit="createEffect()">-->
                <!--<label>Effect</label>-->
                <!--<select class="" name="effectType" ng-model="eff.effectType" ng-options="effectType for effectType in effectTypes"></select>-->

                <!--<label>Value</label>-->
                <!--<input class="" name="value" ng-model="eff.value" type="text" />-->

                <!--<label>Slot</label>-->
                <!--<select class="" name="slot" ng-model="eff.slot" ng-options="slot for slot in equipmentSlots"></select>-->

                <!--<button type="submit" >Submit</button>-->
            <!--</form>-->
        <!--</div>-->

    <!--</div>-->

</div>