
<div class="modal-header">
    <h3>Material</h3>
</div>
<form name="matForm" class="" novalidate>
    <div class="modal-body container" style="width:100%;">
        <!-- name -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-model="mat.name" name="name" class="form-control"/></input>
        </div>
        <!-- icon -->
        <div class="form-group">
            <label>Icon</label>
            <input type="text" ng-model="mat.icon" name="icon" class="form-control"/></input>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                Type
            </div>
            <div class="col-sm-4 ">
                Value
            </div>
            <div class="col-sm-4 ">
                Slot
            </div>
        </div>

        <div ng-repeat="eff in mat.effectList" class="row">
            <span>({{eff.id}})</span>

            <div class="col-sm-4 ">
                <input type="text" ng-model="eff.effectType" name="effectType" class="form-control"/></input>
            </div>
            <div class="col-sm-4 ">
                <input type="text" ng-model="eff.value" name="effectValue" class="form-control"/></input>
            </div>
            <div class="col-sm-4 ">
                <input type="text" ng-model="eff.slot" name="effectSlot" class="form-control"/></input>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <input type="text" ng-model="newType" name="newType" class="form-control"/></input>
            </div>
            <div class="col-sm-4 ">
                <input type="text" ng-model="newValue" name="newValue" class="form-control"/></input>
            </div>
            <div class="col-sm-4 ">
                <input type="text" ng-model="newSlot" name="newSlot" class="form-control"/></input>
            </div>
        </div>

        <div class="row">
            <button ng-click="addEffect()">Add Effect</button>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submitForm()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>

