
<div class="modal-header">
    <h3>Add Effect</h3>
</div>
<form name="effForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- effect type -->
        <div class="form-group">
            <label>Effect</label>
            <select class="form-control" name="effectType" ng-model="effectType" ng-options="effectType for effectType in effectTypes"></select>
        </div>

        <!-- value -->
        <div class="form-group">
            <label>Value</label>
            <input type="text" name="value" class="form-control" ng-model="value">
        </div>

        <!-- slot -->
        <div class="form-group">
            <label>Slot</label>
            <select class="form-control" name="slot" ng-model="slot" ng-options="slot for slot in equipmentSlots"></select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>


