<div class="point-buy-button-col point-buy-dec-col">
    <button ng-click='dec()(stat)' ng-disabled="!candecrease"> - </button>
</div>

<div class="point-buy-stat-col">
    <span ng-transclude></span>
</div>
<div class="point-buy-value-col">
    <span>
        {{value.dieType}}
        <span ng-show="value.dieType == 'D12'">+{{value.modifier}}</span>
    </span>
</div>

<div class="point-buy-button-col point-buy-inc-col">
    <button ng-click='inc()(stat)' ng-disabled="!canincrease"> + </button>
</div>